{% load static %}
<head>
    <link rel="stylesheet", type = 'text/css' href="{%static 'lang_comparison\earth_vac.css' %}">

</head>
<body>
    <img src="https://www.clipartmax.com/png/small/22-225179_transparent-background-earth-png.png" alt="Transparent Background Earth Png @clipartmax.com">    <div>
    <button class="continents obj" type="button">
    </button>
    <button class="water obj" type ="button">
    </button>
    <button class="lang1 lang obj" type ="button">
    </button>
    <button class="lang2 lang obj" type ="button">
    </button>
    <button class="lang3 lang obj" type ="button">
    </button>
    <button class="lang4 lang obj" type ="button">
    </button>
    <button class="speceship obj" type ="button">
    </button>
</div>
</body>