/* add card effect, could be separate css file*/
/* .center-container {
    margin: 0px;
    height: 100vh;
    display: grid;
    place-items: center;
} */



body {
    background-color: rgba(18, 16, 16, 0.8);
    margin: 0px;
    height: 100vh;
    display: grid;
    place-items: center;
}
/* .trans {
    -webkit-transition: transition-delay 800ms, background-color 1s, border-radius 3s, width 1s, height 2s;
    transition: transition-delay 800ms, background-color 1s, border-radius 1s, width 1s, height 1s;
} */

.obj_activator {
    display: grid;
    place-items: center;
    /* z-index: 1000; */
    background-color: rgb(107, 0, 0, 0.0);
}

.obj_activator:hover{
    background-color: rgb(107, 0, 0, 0.0);
    /* z-index:0; */
    /* transform: scale(2, 0.5) translateY(-100%); */
}
.obj_activator, .obj, .top_brow, .bottom_lid, .top_lid{
    aspect-ratio: 1;
    border-radius: 2vmin;
    width: 30vmin;
    background-color: rgba(9, 0, 138, 0);

    transition: transform 1200ms cubic-bezier(.22,-0.5,.81,0.2), background-color 3s, background 3s, border-radius 2s, width 1700ms, opacity 1200ms;
}

.obj, .top_brow, .bottom_lid, .top_lid{
    /* background-color: rgb(47, 46, 49); */
    position: absolute;
}
.top_brow, .bottom_lid, .top_lid {
    width: 6vmin;
    border-radius: 3vmin;
    background-color: rgba(83, 0, 161, 0);
    border-top-right-radius: 0vmin;
}
.top_brow{
    transform: translate(-200%,-200%);
}
.top_lid{
    transform: translate(-1000%,-200%);
}
.bottom_lid{
    transform: translate(600%, -200%);
}


.obj_activator:hover > .obj {
    width: 5vmin;
    border-radius: 2.5vmin;
}

.obj:hover {
    transform: translate(100%,100%);
    background-color: rgba(174, 0, 255, 0.637);
}

.obj_activator:hover > .obj:nth-child(1) {
    transform:matrix(-0.80,0.60,2.00,1.00,0,-2);
    width: 6vmin;
    border-radius: 3vmin;
    border-top-right-radius: 0vmin;
    -ms-transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    -webkit-transform:matrix(-0.80,0.60,2.00,1.00,0,0);    
    background-color: rgb(255, 190, 190);
}
.obj_activator:hover > .obj:nth-child(2) {
    transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    -ms-transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    -webkit-transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    border-top-right-radius: 0vmin;
    background-color: rgb(210, 242, 255) ;
}
.obj_activator:hover > .obj:nth-child(3) {
    transform: translateY(-10%) rotate(750deg);
    width: 6vmin;
    border-radius: 50%;
    z-index: 5;
    background-color: rgba(22, 64, 143, 1);
}
.obj_activator:hover > .obj:nth-child(5) {
    transform: rotate(540deg);
    width: 2vmin;
    z-index: 6;
    border-radius: 50%;
    background-color: rgb(17, 0, 0);
}
.obj_activator:hover > .obj:nth-child(4) {
    transform:translate(0%,-10%) rotate(750deg);
    width: 4vmin;
    border-radius: 50%;
    background-color: rgb(255, 227, 100);

}

.obj_activator:hover > .obj:nth-child(5) {
    transform: translateY(-10%) rotate(540deg);
    width: 3vmin;
    z-index: 7;
    border-radius: 1.5vmin;
    background-color: rgb(17, 0, 0);
}
.obj_activator:hover > .obj:nth-child(6) {
    transform: translate(-80%,-10%) rotate(540deg);
    width: 1vmin;
    border-radius: 50%;
    z-index:1000;
    background-color: rgb(255, 255, 255);
}

/*eyelids*/
.obj_activator:hover > .top_lid {
    opacity: 1;
    transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    -ms-transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    -webkit-transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    border-top-right-radius: 0vmin;
    /* background-color: rgb(210, 242, 255) ; */
    box-shadow: -1vmin -1vmin rgb(255, 190, 190);
    z-index: 9999;
}

.obj_activator:hover > .bottom_lid {
    opacity: 1;
    transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    -ms-transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    -webkit-transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    /* transform:translate(15%,15%); */
    border-top-right-radius: 0vmin;
    /* background-color: rgb(210, 242, 255) ; */
    box-shadow: 1vmin -1vmin rgb(255, 190, 190);
    z-index: 9998;
}

/* .obj_activator:hover > .obj:nth-child(9) {
transform: translate(-80%,-10%) rotate(540deg);
width: 1vmin;
border-radius: 0.5vmin;
background-color: rgb(255, 255, 255);
} */



.obj_activator:hover > .top_brow {
    transform:matrix(-0.80,0.60,2.00,1.00,0,-2);
    width: 7vmin;
    border-radius: 2vmin;
    opacity: 1;
    border-top-right-radius: 0vmin;
    box-shadow: -2vmin -2vmin  rgb(0, 0, 0);
    -ms-transform:matrix(-0.80,0.60,2.00,1.00,0,0);
    -webkit-transform:matrix(-0.80,0.60,2.00,1.00,0,0);    
    /* background-color: rgb(255, 192, 160); */
    }


.top_brow {
border-radius: 0vmin;
border-bottom-left-radius: 0vmin;
box-shadow: 0vmin 0vmin  rgb(175, 89, 255);
/* background-color: antiquewhite; */
overflow: hidden;
position: relative;
-webkit-transition: all 1200ms cubic-bezier(.22,0,.81,0.2);
transition: all 1200ms cubic-bezier(.22,0,.81,0.2);

/* transition: transform 1200ms cubic-bezier(.22,-0.5,.81,0.2), background-color 3s, border-radius 2s, width 1700ms, opacity 1200ms; */

}



.card-group,
.card {
    aspect-ratio: 5 / 7;

}

.card-group,
.big-card {
    width: 30vmin;
}

.card_image {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 1vmin;
    width: 30vmin;
    /* position:absolute */
}



.card {
    opacity: 0.1;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr, 3fr, 1fr;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(.13,.83,.25,.74), background-color 3s, opacity 0.2s;
}

.big-card {
    width: 30vmin;
    border-radius: 1vmin;

}

.little-card {
    width: 10vmin;
    border-radius: 2vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.big-card:nth-child(1) {
    transform: translateX(-20%) rotate(-2deg);
}

.big-card:nth-child(2) {
    transform: rotate(4deg);
}

.big-card:nth-child(3) {
    transform: translate(-15%, 6%) rotate(-5deg);
}

.big-card:nth-child(4) {
    transform: translateX(10%) rotate(7deg);
}
.card:hover {
    opacity: 1;
}
.card:hover > .card_image {
    opacity: 1;
    /* transform: scale(2,0.5); */
}

.card-group:hover > .big-card:nth-child(1) {
    transform: translate(-75%, -32%) rotate(-24deg);
    background-color: rgb(255, 185, 8);

}

.card-group:hover > .big-card:nth-child(2) {
    transform: translate(-25%, 8%) rotate(-8deg);
    background-color: rgb(124, 76, 255);

}

.card-group:hover > .big-card:nth-child(3) {
    transform: translate(25%, 8%) rotate(-8deg);
    background-color: rgb(57, 255, 17);

}

.card-group:hover > .big-card:nth-child(4) {
    transform: translate(75%, 16%) rotate(24deg);
    background-color: crimson;
}
.card-group:hover > .big-card:nth-child(5) {
    transform: translateY(-75%);
    background-color: rgb(190, 222, 76);
}